.modal-container {
    padding: 10px;
    max-width: 300px;
    margin:auto;
}
.inventory-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.inventory-image-modal {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.item-action-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.inventory-name {
    margin-bottom: 5px;
}

.description,
.value {
    margin: 10px 10px;
}

.inventory-action-confirmation {
    color: purple;
}
