.equipped-container{
    position: relative;
}
.equipped-carousel{
    display: flex;
    gap: 5px;
    overflow: hidden;
    padding: 20px 10px;
    flex-wrap: wrap;
}
.equipped-card{
    flex: 0 0 auto;
    width: 50px;
    /* height: 65px; */
    background-color: lightgray;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    overflow: visible; /* Allows the tooltip to be visible outside the card */
    text-align: center;
    display: flex;
    flex-direction: column; /* Stack image and text */
    padding: 10px;
    position: relative; /* For tooltip positioning */
    transition: transform 0.3s;
}
.equipped-card:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.equipped-card.placeholder{
    background-color: black;
    cursor: default;
}
