.avatar-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.avatar-background {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  z-index: 1;
}

.avatar-antenna {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.avatar-head {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.avatar-eye {
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}

.avatar-ear {
  position: absolute;
  top: 63px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.avatar-nose {
  position: absolute;
  top: 105px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 6;
}

.avatar-mouth {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 7;
}

.avatar-neck {
  position: absolute;
  top: 155px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.auto-gen-button {
  margin-bottom: 15px;
}