.reward-image{
    width: 100%;
    height: 50px;
    object-fit:cover;
    margin-bottom: 0px;
}

.reward-name{
    margin-top:0px;
    margin-bottom: 10px;
    font-size: xx-small;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}

.rewards-container{
    position: relative;
}

.rewards-carousel{
    display: flex;
    gap: 5px;
    overflow: hidden;
    padding: 20px 10px;
    flex-wrap: wrap;
    /* position: relative;
    top: 100px; */
}
.rewards-card{
    flex: 0 0 auto;
    width: 50px;
    /* height: 65px; */
    background-color: lightgray;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    overflow: visible; /* Allows the tooltip to be visible outside the card */
    text-align: center;
    display: flex;
    flex-direction: column; /* Stack image and text */
    padding: 10px;
    position: relative; /* For tooltip positioning */
    transition: transform 0.3s;
}
